body {
}
.template {
    display: none;
}
.left {
    float: left;
}
span.activeTimerlist.left {
    margin-right: 10px;
}
.right {
    float: right;
}
.center {
    display: block;
    overflow: hidden;
    text-align: center;
    clear: none;
}
span.activeTimerlist.right {
    margin-left: 10px;
}
span.activeTimerlist.listbutton {
    border: solid;
    border-radius: 6px;
    padding: 0 1px 0 1px;
}
#jqt ul li.timeentry input {
    display: inline;
    /*
    border:1px solid;
    background-color:#eee; 
    border-color:#f3f3f3 #bbb #bbb #f3f3f3;
    padding:.5em;
    zoom: 1;
    margin:0;
    */
    width: 20px;
}
